<div class="container marketing" style="padding-top: 40px;">


    <div class="row">

        <div class="col-md-4 offset-md-4">


            <h2 class="text-center">Sign UP</h2>
            {{#each massages}}
            <div class="alert alert-danger alert-dismissible fade show mt-2 auto-hide" role="alert">
            <p>{{this}}</p>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
            
            {{/each}}
            <form action="signup" method="post" autocomplete="off">
                <div class="border border-warning p-3">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="Enter Your Email" class="form-control">


                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Enter Your Password" class="form-control">


                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" name="confirm-password" placeholder="Re-Enter Your Password"
                            class="form-control">


                    </div>

                </div>
                <div><input type="hidden" name="_csrf" value="{{token}}"></div>

                <div class="form-group " style="padding-top: 10px;">
                    <button type="submit" class="btn btn-primary">Sign Up</button> <a href="/users/signin">Already Have Account?</a>

                </div>




            </form>

        </div>

    </div>


</div>
<script>
     $(document).ready(function () {
        setTimeout(function () {
            $('.auto-hide').slideUp(300);
        }, 2000);

</script>